# = MAC FILES
# ----------------------------------------------------------------------
Icon
.DS_Store

# =GIT
# ----------------------------------------------------------------------
.git
*.git

# = ASSETS
# ----------------------------------------------------------------------
/assets/*

# = KIRBY FOLDERS
# ----------------------------------------------------------------------
/site/*
/content/*
content/*

# = IMAGES
# ----------------------------------------------------------------------
/thumbs/*
!/thumbs/index.html

# = CACHE
# ----------------------------------------------------------------------
/site/cache/*
!/site/cache/index.html

# = ACCOUNTS
# ----------------------------------------------------------------------
/site/accounts/*
!/site/accounts/index.html

# = AVATARS
# ----------------------------------------------------------------------
/assets/avatars/*
!/assets/avatars/index.html

# = EDITORS TEXT
# ----------------------------------------------------------------------
prepros.cfg
prepros-6.config
prepros.cfg
config.codekit3

# = PAGES
# ----------------------------------------------------------------------
*.zip
*.log
*.html
readme.html
README.html

# = HTML
# ----------------------------------------------------------------------
*.jade
*.pug

# = NPM & BOWER
# ----------------------------------------------------------------------
node_modules/*
bower_components/*
package.json
package-lock.json
gulpfile.js